body {
  background-color: hsl(212, 45%, 89%);
}
.parent-div {
  background-color: white;
  width: 400px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 20px;
}
.parent-div img {
  width: 350px;
  border-radius: 20px;
}

.childern-div p {
  font-size: 18px;
  color: hsl(211, 26%, 78%);
  font-weight: 400;
}
